{% extends '_connectedNavBar.html.twig' %}

{% block title %}Page création de TER{% endblock %}

{% block body %}
    <h1 class="titre-no-border">Création</h1>

    <div class="d-flex justify-content-center mb-5">
    {{ include('ter/_formTER.html.twig', {label_submit: "Créer le TER", form: form}, with_context = false) }}
    </div>
{% endblock %}