$font: 'Inter', sans-serif;
$colorblue: #36818d;

html, body {
  height: 100%;
  font-family: $font;
  box-sizing: border-box;
  background-color: #EEEEEE;
}

textarea{
  resize: none;
}

body {
  /* Navigation bar */
  header {
    .main-nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,20%);

      .navbar-toggler {
        display: flex;
        list-style-type: none;
        gap: 2rem;
        padding-right: 5rem;
        align-items: center;
        margin: 0;
        flex-direction: row;

        .header-button {
          background-color: $colorblue;
        }
      }
    }

    .disconnected-nav-bar {
      border-bottom: 1px solid rgba(0,0,0,20%);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
      background-color: #EEEEEE;
      height: 55px;
    }

    .connected-nav-bar {
      border-bottom: 1px solid rgba(0,0,0,20%);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
      display: flex;
      background-color: #EEEEEE;

      .accueil-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
        gap: 25px;
        color: white;

        background: $colorblue;
        cursor: pointer;
        border: 1px solid #EEEEEE;
        text-decoration: none;
      }

      .accueil-link:hover{
        background-color: #378E64;
      }
    }
  }

  /* Début du contenu de la page */
  .color-blue{
      color: $colorblue;
  }

  .bg-blue{
    background-color: $colorblue;
  }

  .bg-light-blue{
    background-color: #dde4f1;
  }

  .my-band{
    margin-bottom: 5rem;
    margin-top: 10rem;
  }

  .titre {
    color: $colorblue;
    text-align: center;
    padding: 1%;
    border-bottom: 1px solid rgba(0,0,0,20%);
    strong {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }

  .titre-no-border{
    color: $colorblue;
    text-align: center;
    padding: 1%;
    strong {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }

  .titre2 {
    color: $colorblue;
    padding: 2%;
    font-weight: bolder;
  }

  .footer{
    background-color: $colorblue;
    color: white;
  }

  .btn-general{
    background-color: $colorblue;
    color: white;
    border-radius: 5px;
  }

  .btn-general:hover{
    background-color: $colorblue;
    color: white;
    border: solid thin;
    border-radius: 5px;
    filter: brightness(95%);
  }

  .margin-top-10{
    margin-top: 10rem;
  }

  .test{
    background-color: #378E64;
  }

  .w-60{
    width: 60%!important;
  }

  .trait-cote{
    border-right: thin $colorblue solid;
  }
}