html, body{
    height: 100%;
}

details > summary::-webkit-details-marker {
    display: none;
}

.art1-div{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.art1 {
    display: flex;
    flex: 0.5;
}

.art2-div{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}


.art3-div{
    display: flex;
    flex-direction: row;
    flex: 0.5;
}

.art3, .art4{
    display: flex;
    flex: 0.5;
}

summary{
    display: flex;
    flex-direction: column;
}