html {
  overflow-y: hidden;
}

main {
  display: flex;
  margin-top: 1rem;

  .no-ter {
    font-size: 3rem;
    font-weight: bold;
    color: green;
  }

  .lst-ter, .lst-candidacies {
    overflow-y: scroll;
    max-height: 80vh;
  }

  .explanations {
    justify-content: center;
    align-items: center;
    display: flex;
    color: green;
    font-size: 2rem;
    font-weight: bold;
    flex: 1;
    margin: 2rem;
  }

  form {
    text-align: right;
  }

  p.ribbon {
    position: relative;   /* pour servir de référent */
    margin: 1em -10px;    /* pour décaler les bords */
    background: green;  /* pour visualiser */
  }
  p.ribbon::before,
  p.ribbon::after {
    content: "";
    position: absolute;
    border-style: solid;
  }


  p.left-top::before {
    left: 0;
    bottom: 100%;
    border-color: transparent #800000;
    border-width: 10px 10px 0 0;
  }
  p.left-bottom::before {
    left: 0;
    top: 100%;
    border-color: transparent #800000;
    border-width: 0 10px 10px 0;
  }
  p.right-top::after {
    right: 0;
    bottom: 100%;
    border-color: #800000 transparent;
    border-width: 0 10px 10px 0;
  }
  p.right-bottom::after {
    right: 0;
    top: 100%;
    border-color: #800000 transparent;
    border-width: 10px 10px 0 0;
  }
}
.ter-component {
  flex: 1;
}
.right-component {
  flex: 1.2;
}

.right-component > *, .ter-component > * {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
