$colorBlue: #36818d;
$font: 'Inter', sans-serif;

html{
  font: $font;
}

.a-own{
  text-decoration: none;
  color: $colorBlue;
}

.student:hover, .teacher:hover, .supervisor:hover{
  filter: brightness(0.8);
}

.student, .teacher, .supervisor, .company_name{
  text-align: center;
  margin: 5%;
}

.img-own{
  width: 50%;
}