{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Création{% endblock %}

{% block body %}
    <h1 class="titre-no-border">Création</h1>

    <div class=" d-flex justify-content-center">
    {{ include('internship/_form.html.twig', {label_submit: "Créer", form: form}, with_context = false) }}
    </div>
{% endblock %}