{% extends '_connectedNavBar.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Édition{% endblock %}

{% block body %}
    <h1 class="titre-no-border">Édition</h1>

    <div class="d-flex justify-content-center mb-5">
    {{ include('internship/_form.html.twig', {label_submit: "Modifier", form: form}, with_context = false) }}
    </div>
    <br><br>
{% endblock %}