{% extends '_connectedNavBar.html.twig' %}

{% block title %}Hello LobbyController!{% endblock %}

{% block body %}
    <div class="titre">
        <h1><strong>Master informatique</strong></h1>
        <h2><strong>Parcours : intelligence artificielle</strong></h2>
    </div>
    <main>
        <section>
        </section>
    </main>
{% endblock %}
