{% extends '_connectedNavBar.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="titre">
        <h1><strong>Master informatique</strong></h1>
        <h2><strong>Parcours : intelligence artificielle</strong></h2>
    </div>
    <main>
        <section class="d-flex flex-row align-items-center mt-5 mb-5">
            <div class="fa-paragraph flex-row mx-5">
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
                <h2 class="titre2 my-3">PRÉSENTATION</h2>
                <p class="mt-2">
                    Le <strong>Master Informatique parcours IA</strong> est un diplôme national,
                    il est organisé en <strong>5 Unités d’Enseignement</strong>.
                    <br><br>
                    Les enseignements sont dispensés sous forme de cours magistraux, de travaux dirigés et de travaux pratiques,
                    l’accent étant mis sur les projets individuels et collectifs, les stages, ainsi que sur le contrôle continu.
                    <br><br>
                    Un certain nombre d’enseignements sont mutualisés avec d’autres Mentions portées par le Département Mathématiques,
                    Mécanique et Informatique (MMI).<br>
                    Les compétences linguistiques et professionnelles (Anglais, Gestion de projets,
                    Communication, Organisation des entreprises) sont largement considérées (UE5).
                </p>
                <img src="{{ asset('img/Line 6.svg') }}" alt="ligne">
            </div>
            <img src="{{ asset('img/Unit_enseign.png') }}" alt="image unités enseignement" class="justify-content-end w-50">
        </section>
    </main>
{% endblock %}
