{% extends 'base.html.twig' %}

{% block header %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
    <div class="connected-nav-bar">
        <a class="accueil-link" href="{{ path('app_lobby_index') }}">Accueil</a>
        <a class="accueil-link" href="#">Agenda</a>
        <a class="accueil-link" href="{{ path('app_internship') }}">Stage</a>
        <a class="accueil-link" href="#">TER</a>
        <a class="accueil-link" href="#">Messagerie</a>
    </div>
    {% else %}
    <div class="disconnected-nav-bar">
    </div>
    {% endif %}
{% endblock %}

