{% extends 'base.html.twig' %}

{% block header %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
    <div class="connected-nav-bar">
        <a class="accueil-link" href="{{ path('app_lobby_index') }}">Accueil</a>
        {% if is_granted('ROLE_STUDENT') == true or is_granted('ROLE_ADMIN') == true or is_granted('ROLE_TEACHER') == true %}
        <a class="accueil-link" href="#">Agenda</a>
        {% endif %}
        <a class="accueil-link" href="{{ path('app_internship') }}">Stage</a>
        {% if is_granted('ROLE_STUDENT') == true or is_granted('ROLE_ADMIN') == true or is_granted('ROLE_TEACHER') == true %}
        <a class="accueil-link" href="{{ path('app_ter') }}">TER</a>
        {% endif %}
        <a class="accueil-link" href="#">Messagerie</a>
        <a class="accueil-link" href="{{ path('app_student') }}">Trombinoscope</a>
    </div>
    {% else %}
    <div class="disconnected-nav-bar">
    </div>
    {% endif %}
{% endblock %}

